.gradle/
build/
out/
*.iml

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
owner_app/build/

.env
*.log

# Eclipse
.classpath
.project
.settings/
backend/.settings/

# Flutter
owner_app/.metadata

*.class